LANGCHAIN_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_PROJECT="econagents"

OPENAI_API_KEY=
GAME_USERNAME=
GAME_PASSWORD=

HOSTNAME=localhost
WS_PORT="3088"
API_PORT="3089"
